.button-container{
    display:flex;
    flex-direction: column;    
    align-items: center;
    margin-bottom: 20px;
    width:100%;
    justify-content: center;
    text-align: center;
}

.button-container .button{
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    padding: 10px 15px;
    width:80%;
    margin-bottom: 10px;
    font-family:  monospace;
    text-align: center;

}
.button-container .semester{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items:center;
    width:60%;
    text-align: center;
    justify-content: center;
}

.button-container .semester .course-button{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    padding: 10px 15px;
    width:100%;
    margin-bottom: 10px;
    font-family:  monospace;
    text-align: center;
    text-decoration: none;
    color: rgb(82, 108, 190);
    font-family:  monospace;
}


.button-container .semester .types{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items:center;
    justify-content: center;
    text-align: center;
    width:100%;
}

.button-container .semester .types .type{
    display: flex;
    justify-content: center; 
    align-items: center;
    cursor: pointer;
    padding: 10px 15px;
    font-family: monospace;
    text-align: center; 
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    text-decoration: none;
    color: rgb(165, 178, 220);
    margin: 10px auto;
    width: 60%;
}





